body {
    font-size: .875rem;
}

.mainContentWrapper{
    width: 100%;
    margin-left: 0;
    
}
.px-md-4{
    margin: 0 auto;
    padding: 20px;
}

.customerSubmitButton{
    margin: 0 auto;
}
.customerIdentification{
    text-align: center;
}

td{
    border-bottom: none;
}

::placeholder{
    opacity: 0.5 !important;
}

/*Content*/
@media (max-width: 767.98px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(237, 237, 237, 0.629);
    }

    .customerInfo {
        margin: 0 auto;
    }

    .infoEntryForm {
        padding: 20px;
        margin: 0 auto;
    }

    .entryFields {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 80%;
        margin: 0 auto;
    }

    .infoEntryForm button {
        width: 50%;
        margin: 0 auto;
    }
}

/* Searchbar*/
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.808);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(166, 166, 166, 0.595);
}